
.bg{
  background: #f8f8f8;

}
.top-address{

}
.top-address li{}
.top-address li i{
  color:#42B061;
}
.top-address li select{
  border: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  width: initial !important;
  display: inline-block;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.top-address li-form-control:focus{
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 8px rgba(102,175,233,.6 );
   box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 8px rgba(102,175,233,..);
}
.signin-signup,.social{
  float: left;
}
.signin-signup{
  margin-right: 50px;

}
.signin-signup li {
  padding-left: 0;
  padding-right: 0;

}
.signin-signup li a{
  text-transform: capitalize;
  color: #959595;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
.signin-signup li a i{
  color: #42B061;
}
signin-signup li a i:hover{
  color: #42B061;
}


.social{
  margin-bottom: 0;


}
.social li {
  padding: 0 2px;

}
.social li a{
  background:#e1e1e1;
  font-size: 10px;
  height: 25px;
  width: 25px;
  display: block;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 3px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;

}
.social li a:hove{
  background:  #42B061;
  }

.social a i{

}







.navbar-default {
 
    padding-top: 35px;

}    

.navbar-default .navbar-nav>li>a {
   color: black;
 
  font-size: 16px;
   
   text-transform: uppercase;
   transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
}   
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li.active>a {
   color:pink;


}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
   

} 
.navbar-brand{
    float: left;
    height: auto;
    padding-top:0px;
    font-size: 18px;
 
   
}    

.carousel-inner>.item {
 height:100vh;
}
.carousel-caption {
    right: 0;

    top:30%;
    transform: translateY(-50%);
    bottom: inherit;
    padding-top: inherit;
    text-align: left;
}

.carousel-caption img{
  margin: 0;

}
.carousel-caption p{
 font-size: 17px;
 max-width: 300px;
 color: #fff;
 font-family: 'Roboto', sans-serif;

}
.carousel-caption h1{
  font-weight: 900;
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;

 

}
.carousel-caption h3{
 color: #42b061;
font-family: 'Kaushan Script', cursive;
 font-size: 48px;
}
.btn-custom1{
background:#eb7d4b;
padding: 15px 30px;
color: #fff;
width: 200px; 
height: 71px;
margin-top: 50px;
letter-spacing: 1px;
font-size: 16px;
text-transform: uppercase;
transition: all 0.4s ease;
}
.btn-custom2{
background:#fff;
padding: 15px 30px;
color: pink;
width: 200px; 
height: 71px;
margin-top: 50px;
letter-spacing: 1px;
font-size: 16px;
text-transform: uppercase;
transition: all 0.4s ease;
}
.btn-custom1: hover,.btn-custom1: focus{
color: #fff;
box-shadow: 0 4px 0 transparent;
}
.btn-custom2: hover,.btn-custom2: focus{
color: black;
box-shadow: 0 4px 0 transparent;
}

#about{
  padding-bottom: 5em;
}
.about-head{
  text-align: center;
  padding: 3em 0;
}
.about-head h1{
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 1em;
}
.about-head p{
  color: #979797;
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 16px;
}
.about-content .about-text{
  margin: 0;
  padding: 0;
}

.about-content {
  font-size: 19px;
  color:  #41B061;
  font-weight: 700;
  margin: 0;
  text-align: justify;
}
.about-content img{
  padding-top: 27px;
}
.about-text h1{
  font-size: 18px;
  color:  #41B061;
}
.about-text p{
  font-size: 16px;
  color:  # #9D9D9D;
}

.about-content p{
  font-size: 16px;
  color: #9D9D9D;
 
}
.about-content .about-text .btn-custom{
  color: #fff;
  text-transform: uppercase;
  background-color: #41B061;
  border: 2px solid transparent;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}
.about-content .about-text .btn-custom:hover{
  color: #41B061;
  background-color: #fff;
  border: 1px solid #41B061;
}
#recent-course{
  background-color: #efeded;
  padding-bottom: 70px;
}
#recent-course .about-head{
  margin-top: 70px;
}
.course{}
.course-content{
  text-align: center;
  padding: 30px 14px;
  border: 4px solid #fff;
  margin-top: 30px;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
}
.course-content i{
  font-size: 55px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}
.course-content h3{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;

}
.course-content p{
  color: #979797;
  font-size: 14px;
 
  margin: 0 auto;
  line-height: 16px;
}
.course-content:hover{
  border: 6px solid #41B061;
}
.course-content:hover i{
  color: #41B061;
}
.course-content:hover h3{
  color: #41B061;
}